@import 'mixins';

.controls {
	display:table;
	position: absolute;
	z-index: 1;
	bottom:10px;
	left:10px;

	*{
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;   
	}

	> div{
		display:table-cell;
		width:70px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0.5;
		margin-right: 5px;

		&:active{
			opacity: 1;
		}

		&.progressIndicator{
			display: table;

			> div{
				font-family: Arial;
				min-width: 56px;
				padding: 0 10px;
				display: table-cell;
				vertical-align: middle;
				font-size: 22px;
				color: rgba(255,255,255,0.8);
			}

			.slider{
				position: relative;
				padding-bottom: 14px;
			}

			.node{
				position: absolute;
				left:0;
				border-radius: 50%;
				background-color: white;
				width: 20px;
				height: 20px;
				top: 13px;

				&:after{
					cursor: pointer;
					position: absolute;
					border-radius: 50%;
					background-color: transparent;
					width: 60px;
					height: 60px;
					left: -100%;
					top: -100%;
					content: " ";   
				}
			}
		}

		&.tb-vid_btn{
			cursor: pointer;

			&.play{ background-image: url(../img/pausebutton.png); }
			&.pause{ background-image: url(../img/playbutton.png); }
			&.back30 { background-image: url(../img/30secsback.png); }
			&.fw30{	background-image: url(../img/30secsfw.png); }
		}
	}
}