@import 'mixins';

.controls {
	font-size: 1.5em;
	position: absolute;
	z-index: 1;
	bottom:0.5em;
	left:0.5em;

	*{
		-webkit-user-select: none;
		-moz-user-select: none;     
		-ms-user-select: none;     
		user-select: none;   
	}

	> div{
		display: inline-block;
		vertical-align: middle;
		opacity: 0.5;
		margin-right: 5px;

		&:active{
			opacity: 1;
		}

		&.progressIndicator{

			> div{
				display: inline-block;
				vertical-align: middle;

				font-family: Arial;
				padding: 0 0.5em;
				color: rgba(255,255,255,0.8);
			}

			.slider{
				position: relative;
				width: 5em;
				height: 0.1em;
				background-color: white;
				content: " ";
			}

			.node{
				position: absolute;
				top:0;
				left:0;
				border-radius: 50%;
				background-color: white;
				width: 1em;
				height: 1em;
				transform: translateY(-50%);

				&:after{
					cursor: pointer;
					position: absolute;
					border-radius: 50%;
					background-color: transparent;
					content: " ";   
				}
			}
		}

		&.tb-vid_btn{
			cursor: pointer;
			max-width: 2.5em;
			display: inline-block;


			&.play{ content: url(../img/pausebutton.png); }
			&.pause{ content: url(../img/playbutton.png); }
			&.back30 { content: url(../img/30secsback.png); }
			&.fw30{	content: url(../img/30secsfw.png); }
		}
	}
}