@import 'mixins';

.tb-video_container {
	position: relative;
	border: 2px solid black;

	video {
		width: 100%;
		height: 100%;
	}
	
}

/*.video-container.expanded .video-slide-thumb{
	width: 712.8px;
	/*-webkit-transform: translate(72px, -53px);*/
	/*left: 72px;
	top: -53px;
} 

.video-container.expanded video,
.video-container.expanded .video-controls,
.video-container.expanded .video-title{
	opacity: 0;
}


.video-title {
	-webkit-transition-duration: 0.3s;
}*/

/*.video-container video {
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.3s ease-in-out;
	-webkit-transform-style:preserve-3d
}*/

.video-slide-thumb {
	position: absolute;

	z-index: 2;
	background-color: transparent;

	left: 348.5px;
	top: 13px;
	width: 495px;

	/*-webkit-transform: translate(348.5px, 13px);*/

	-webkit-transform: translate3d(0,0,0);
	-webkit-transition-duration: 0.3s;

	> img{
		width: 100%;
		-webkit-transition: opacity 0.3s ease-in-out;
	}
}


/*.video-slide-clone {
	z-index:1;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;

	background-color: transparent;

	-webkit-transition-duration: 0.3s;
}*/


.controls {
	display:table;
	position: absolute;
	z-index: 3;
	bottom:10px;
	left:10px;

	*{
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;   
	}

	> div{
		display:table-cell;
		width:70px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0.5;
		margin-right: 5px;

		&:active{
			opacity: 1;
		}

		&.progressIndicator{
			display: table;

			> div{
				font-family: Arial;
				min-width: 56px;
				padding: 0 10px;
				display: table-cell;
				vertical-align: middle;
				font-size: 22px;
				color: rgba(255,255,255,0.8);
			}

			.slider{
				position: relative;
				padding-bottom: 14px;
			}

			.node{
				position: absolute;
				left:0;
				border-radius: 50%;
				background-color: white;
				width: 20px;
				height: 20px;
				top: 13px;

				&:after{
					cursor: pointer;
					position: absolute;
					border-radius: 50%;
					background-color: transparent;
					width: 60px;
					height: 60px;
					left: -100%;
					top: -100%;
					content: " ";   
				}
			}
		}

		&.tb-vid_btn{
			cursor: pointer;

			&.play{ background-image: url(../img/pausebutton.png); }
			&.pause{ background-image: url(../img/playbutton.png); }
			&.back30 { background-image: url(../img/30secsback.png); }
			&.fw30{	background-image: url(../img/30secsfw.png); }
		}
	}
}


/*.footnote{
	position: absolute;
	padding: 10px;
	z-index: 10;
	bottom: 70px;

	left: 50%;
  	-webkit-transform: translate(-50%);

  	color: rgb(255,255,255);
  	font-family: Arial;
  	font-size: 1em;

  	-webkit-transition: opacity 0.3s ease-in-out;


  	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0));
}*/