@import 'mixins';

.video-slide-thumb {
	position: absolute;

	z-index: 2;
	background-color: transparent;

	@include vendor-prefix('transform-origin', '0 0 0');
	@include vendor-prefix('transition-duration', '0.3s');

	> img{
		width: 100%;
		vertical-align: bottom;
	}
}

.video-slide-clone{
	display: none;
	position: absolute;
	z-index: 5;

	&.visible{
		display: inline;
	}
}