<div class="tb-video_container" ng-cloak>
	<!--div class="video-title">
		<img ng-src="img/video-title-{{ video.data.keyword }}.png" />
	</div -->
	<tb-video-slide ng-if="STATES.hasSlides"></tb-video-slide>
	<tb-video-controls ng-if="STATES.hasControls"></tb-video-controls>
	<video data-name="{{ data.keyword | trustUrl }}" autoplay>
		<source ng-src="{{ src | trustUrl }}" type="video/mp4" >
	</video>
	<img class="video-slide-clone" ng-src="{{ STATES.currentSlideImgSrc }}" ng-if="STATES.hasSlides" />
</div>